<div id="parent">
  <div class="line-bc">
    <%= render @messages %>
  </div>

  <footer>
    <%= render 'form', message: @message %>
  </footer>
</div>

<script>
  function footerStart(selector){
    $('html').animate({scrollTop: $(selector).offset().top}, 0);
  }

  $("#parent").append("<div id='item'></div>");
  footerStart("#item");
</script>
